{% extends 'base2.html.twig' %}
{% block body %}

    <div style="margin: auto;width: 65%;
            border: 3px Solid  pink;
            padding: 5px;">

        {{ form_start(f1, {attr: {'novalidate': 'novalidate'}}) }}

        {{ form(f1) }}

    </div>


{% endblock %}
